.btn {
  flex: 0 0 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 50%;
  background-color: white;
  outline: none;
}

.btn::after {
  content: '';
  position: relative;
  display: block;
  width: 70%;
  height: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.btn:hover {
  cursor: pointer;
}

.media-form__btn-audio::after {
  background-image: url('../img/mic.svg');
}

.media-form__btn-video::after {
  background-image: url('../img/video.svg');
}

.btn-start {
  border-color: var(--color-blue-48);
}

.btn-start:focus,
.btn-start:hover {
  box-shadow: 0 0 5px 0 var(--color-blue-48);
}

.media-form__btn-send {
  border-color: var(--color-green);
}

.media-form__btn-send::after {
  width: 60%;
  height: 60%;
  background-image: url('../img/ok.svg');
  transform: translateX(-45%);
}

.media-form__btn-send:focus,
.media-form__btn-send:hover {
  box-shadow: 0 0 5px 0 var(--color-green);
}

.media-form__btn-cancel {
  border-color: var(--color-gray);
}

.media-form__btn-cancel::after {
  width: 50%;
  height: 50%;
  background-image: url('../img/cancel.svg');
}

.media-form__btn-cancel:focus,
.media-form__btn-cancel:hover {
  box-shadow: 0 0 5px 0 var(--color-gray);
}
