:root {
  --color-blue-48: #3f51b5;
  --color-blue-43: #3949a2;
  --color-green: #4caf50;
  --color-gray: #9e9e9e;
}

.feed {
}

.feed__entries {
  padding-bottom: 137px; /* высота композера */
}

/* Feed composer (footer) */

.feed__composer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 20px 0;
}

.composer {
  border: 2px solid var(--color-blue-48);
  border-radius: 15px;
  background-color: white;
  padding: 15px;
}

.composer__video-preview {
  border: 2px solid var(--color-blue-48);
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}

.composer__video {
  max-width: 100%;
  vertical-align: bottom;
}

.composer__controls {
  display: flex;
  align-items: center;
}

.composer__text-form {
  flex: 1 1 auto;
  margin-right: 15px;
}

.composer__input {
  vertical-align: bottom;
  width: 100%;
  border: 1px solid var(--color-blue-48);
  border-radius: 5px;
  padding: 8px;
  resize: vertical;
  outline: none;
  box-shadow: inset 0 0 3px 0 var(--color-blue-48);
}

.composer__input:focus {
  box-shadow: inset 0 0 5px 0 var(--color-blue-48);
}

.composer__media-form {
  flex: 0 0 130px;
}

.media-form__start,
.media-form__stop {
  display: flex;
}

.media-form__start {
  justify-content: space-around;
}

.media-form__stop {
  justify-content: space-between;
  align-items: center;
}

.media-form__duration {
  font-family: 'Arial Narrow', sans-serif;
}